/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background: #E9E9E9;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

nav {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	.navbar-brand {
		a {
			color: #BD1E23;
			font-weight: bold;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

#pins {
  margin: 0 auto;
  width: 100%;
  .box {
	  margin: 10px;
	  width: 350px;
	  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	  border-radius: 7px;
	  text-align: center;
	  img {
	  	max-width: 100%;
	  	height: auto;
	  }
	  h2 {
	  	font-size: 22px;
	  	margin: 0;
	  	padding: 25px 10px;
	  	a {
				color: #474747;
	  	}
	  }
	  .user {
	  	font-size: 12px;
			padding: 15px;
			margin: 0;
	  }
		.like {
			margin: 5px;
	  }
	}
}

#edit_page {
	.current_image {
		img {
			display: block;
			margin: 20px 0;
		}
	}
}

#pin_show {
	.panel-heading {
		padding: 0;
	}
	.pin_image {
		img {
			max-width: 100%;
			width: 100%;
			display: block;
			margin: 0 auto;
		}
	}
	.panel-body {
		padding: 35px;
		h1 {
			margin: 0 0 10px 0;
		}
		.description {
			color: #868686;
			line-height: 1.75;
			margin: 0;
		}
	}
	.panel-footer {
		padding: 20px 35px;
		p {
			margin: 0;
		}
		.user {
			padding-top: 8px;
		}
	}
}

textarea {
	min-height: 250px;
}

@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: auto;
        height: 100%;
    }
}
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}
.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.signup-panel {
	position: absolute;
	background-color: #ffffff;
    left: 0;
    right: 0;
    width: 375px;
    height: 430px;
    left: 200px;
}

.signup-body {
	height: 305px;
    width: 305px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.fg {
	margin-bottom: 10px;
}

.signup-btn {
	margin-top: 15px;
	 width: 305px;
	 height: 35px;
	 background-color: #4CAF50;
	 border: none;
	 border-radius: 4px;
	 color: #FFFFFF;
	 font-weight: 500%;
	 transition: all 0.5s;
	 cursor: pointer;
	 text-align: center;
}
button#validForm.signup-btn span {
    cursor: pointer;
    position: absolute;
    transition: .5s;
}
button#validForm.signup-btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 1;
    left: 50px;
    transition: 0.5s;
}
button#validForm.signup-btn:hover span {
    padding-right: -25px;
}
button#validForm.signup-btn:hover span:after {
    opacity: 1;
    right: 0;
}

div.su-label {
    position: relative;
    top: 50px;
    width: 130px;
    margin-left: 45px;
}
div.link-login {
    position: relative;
    left: 180px;
    top: 25px;
}

.signup-header {
	position: relative;
    padding-left: 22px;
    font-size: 200%;
    font-weight: bold;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.logoLink img {
    position: absolute;
    bottom: 6px;
    width: 60px;
    margin-right: 20px;
}

input.sign-in-btn {
    width: 100px;
    height: 35px;
    background-color: #4CAF50;
    color: #FFFFFF;
		border: none;
		border-radius: 4px;
}
button.sign-up-btn {
    width: 100px;
    height: 35px;
    position: relative;
    margin-top: 8px;
    left: 1050px;
    background-color: #e10707;
		border: none;
		border-radius: 4px;
    font-weight: 400%;
		color: #ffffff;
}
form.navbar-form.navbar-right.form-inline {
    position: relative;
    right: 85px;
}
